{% extends 'core/base.html' %}
{% block title %}
Acerca de mí
{% endblock %}
{% block background %}{% load static %}{% static 'core/img/about.jpg' %}{% endblock background %}
{% block headers %}
    <h1>Acerca de mí</h1>
    
{% endblock headers %}
{% block content %}
<div class="container-fluid bg-1 text-center">
  <h3>¿Quién soy?</h3>
  {% load static %}
  <img class="rounded-circle retrato" style="padding-top:20px;padding-bottom:20 px"  src="{% static 'core/img/avatar1.jpg' %}" alt="Bird">
  <h3>Raquel</h3>
</div>
<div class="container-fluid text-center" style=" padding-top:60px">
    {% lorem 1 b random %}
</div>
<div class="container-fluid" style=" padding-top:200px">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2>
      <h4>Lorem ipsum..</h4>
      <p>Lorem ipsum..</p>
    </div>
    <div class="col-sm-4">
      <span> <i class="fa fa-birthday-cake fa-4x" aria-hidden="true"></i></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
    </div>
  </div>
</div>

{% endblock  %}
