{% extends 'core/base.html' %}
{% block title %}
Home
{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home.jpg' %}{% endblock background %}

{% block headers %}
    <h1>Rossfender</h1>
    <span class="subheading">Hechos con amor</span>
{% endblock headers %}

 

{% block content %}
<div class="container-fluid text-center">
  <h2>Nuestros Servicios</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span ><i class="fa fa-smile-o fa-4x" aria-hidden="true"></i></span>
      <h4>Happy</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span><i class="fa fa-birthday-cake fa-4x" aria-hidden="true"></i></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span > <i class="fa fa-gift fa-4x" aria-hidden="true"></i></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    </div>
 
</div>


{% endblock   %}
